{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
  <h2>Leaderboard</h2>
  
  <p>Contest Ends: {{ deadlineStr }}; Hours Remaining: {{ hoursLeft }}</p>

  <table class="table table-nonfluid">
    <thead class="thead-inverse">
      <tr>
      {% for colName in colNames %}
        <th>{{ colName }}</th>
      {% endfor %}
      </tr>
    </thead>
    <tbody>
    {% for entry in leaderboard %}
    <tr>
      <th scope="row">{{ entry.rank }}</th>
      <td>{{ entry.username }}</td>
      <td>{{ entry.public_score }}</td>
      <td>{{ entry.private_score }}</td>
      <td>{{ entry.sub_cnt }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}

