{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
  {% if g.user %}
    By uploading a submission file you are agreeing to the contest 
    <a href="{{ url_for('rules') }}">rules</a>. Make a submission:
    <div class=uploadform>
      <h3>Upload</h3>
      <form action="" method=post enctype=multipart/form-data>
        <p><input type=file name=file>
           <input type=submit value=Upload>
      </form>
    </div>
    
    <br>
    <p><b>Select {{ subNbr }} submission(s) for final scoring:</b></p>
    <form action="selectmodel" method=post>
    {% for entry in userBoard %}
      <p><input type="checkbox" name="{{ entry.submission_id }}"/> <u>{{ entry.str_time }}</u>: {{ entry.public_score }}</p>
    {% endfor %}
    <input type="submit" value="Submit">
    </form>
    <p>Note: if a manual selection is made, the user must revisit this dialog to set final submission.</p>
  {% else %}
    Must be logged in to make a submission.
  {% endif %}
{% endblock %}

